body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

.rendered-items {
  display: flex;
  flex-flow: column;
  position: relative;
  top: 50px
}
.rendered-items.Button {
  border-radius: 25%;
}

.gene-btn {
  margin-top: 15px;
}

.specialbutton.active.btn.btn-default {
  background-color: green !important;
}

.navbar-brand:hover {
  font-size: 24px !important;
  color: #DBF5F3 !important;
  background-color: white !important;
}
