.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-weight: bolder;
  font-size: 1.25em;
}

.renderArt {
  font-family: "Roboto", Helvetica;
  width: 50%;
}

.search-artsy {
  width: 40% !important;
}
