html, body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", Helvetica;
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.flex-item {
  background: tomato;
  width: 40vw;
  height: 60vh;
  margin: 50px;
}

.title {
  font-weight: bolder;
  font-size: 1.25em;
}


.search-artsy {
  width: 40% !important;
}
