html, body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", Helvetica;
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.title {
  font-weight: bolder;
  font-size: 1.25em;
}


.input-bar {
  width: 40% !important;
}
